@import "tailwindcss";

@import 'leaflet/dist/leaflet.css';

.leaflet-container {
  height: 100% !important;
  width: 100% !important;
  background: #f8fafc;
}

.custom-marker {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-weight: 700;
  color: white;
  border: 3px solid white;
  border-radius: 50%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}